/* Footer */
footer{
    position: absolute;
    bottom: 0;
    margin-top: 30px;
    width: 100%;
    font-size: 14px;
    color: rgb(255, 255, 255);
    backdrop-filter: blur(8px); 
}
/* Lista de accesos en el footer */
footer ul{
    padding-top: 10px;
    list-style: none;
    text-align: left;  
    margin-right: 0;
    padding-left: 0;
}

.div-cantainer-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: nowrap;
    backdrop-filter: blur(10px);
}

.copy-rigth-footer{
    text-align: right;
    font-size: 12px;
    margin-right: 20px;
    backdrop-filter: blur(10px);

}

.section-container-footer:hover h4{
    text-decoration: overline;
    color: rgb(87, 87, 238);
    transition: 0.5s;
}

/* Mediaquerys */
@media (max-width: 600px){
 .div-cantainer-footer{
    flex-direction: column;
    align-items: center;
 }
 .copy-rigth-footer{
    text-align: center;
    margin-right: 0;

}
footer ul{
    text-align: center;  
}
}