/* Header global */
.global-header{
    background-color:tr ;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    /* position: absolute; */
    backdrop-filter: blur(8px);
}
.logo-header{
    text-shadow: 3px 3px 12px #000000;
    text-align: center;
}
.carro{
    width: 25%;
}

/* Links de accesos en header */
li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-shadow: 3px 3px 8px #000000;
}
.links-header ul{
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    width: 394px;
    /* margin-top: 10px; */
    /* margin-left: 0; */
    color: white;
}

.links-header li{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}
.links-header:hover li {
    text-decoration: overline;
    color: rgb(87, 87, 238);
    transition: 0.5s;
}


/* Estilos para logo SVG */
.open{
    
    fill:#0652e9
}

.close{
    
    fill:#8c52ff
}

.logo{
    
    width: 40%;
    margin-bottom: 10px;
    margin-top: 8px;
}
.logo:hover{
    animation: loader 2s 
}
@keyframes loader {
    0% {
     transform: rotateY(0deg);
    }
    
    100% {
        transform: rotateY(-360deg);
      }
    
  }
/* 
.logo:hover .close{
    fill: #ffffff;
    transform: rotate(90deg);
    transition: 2s;
}
.logo:hover .open{
    fill: #ffffff;
    transform: rotate(-90deg);
    transition: 2s;
} */

/* MediaQuerys */
@media (max-width: 600px){
    .global-header{
        text-align: center;
    }
    .links-header ul{
        display: none;    
    }
    .logo{
        width: 60%;
    }
    
}