/* Header global */
.global-header{
    background-color:transparent ;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    backdrop-filter: blur(8px);
}

/* Links de accesos en header */
li a{
    text-decoration: none;
    color: white;
}
.links-header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 10px;
    color: white;
}

.links-header li{
    margin: 10px;
    font-size: 20px;
}
.links-header:hover li {
    text-decoration: overline;
    color: rgb(87, 87, 238);
    transition: 0.5s;
}


/* Estilos para logo SVG */
.open{
    fill:#0652e9
}

.close{
    fill:#8c52ff
}

.logo{
    width: 40%;
    margin-bottom: 10px;
    margin-top: 8px;
}
/* 
.logo:hover .close{
    fill: #ffffff;
    transform: rotate(90deg);
    transition: 2s;
}
.logo:hover .open{
    fill: #ffffff;
    transform: rotate(-90deg);
    transition: 2s;
} */

/* MediaQuerys */
@media (max-width: 600px){
    .global-header{
        text-align: center;
    }
    .links-header ul{
        display: none;    
    }
    .logo{
        width: 60%;
    }
    
}