@import url("./footer.css");
@import url("./header.css");
@import url("./home.css");

body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 /*  background-color: rgb(187, 0, 0); */
  
}
html {
  min-height: 100%;
  position: relative;
  /* background-color: rgb(148, 109, 255); */
  background-image: url("/images/fondo2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
 }

