@import url("./footer.css");
@import url("./header.css");
@import url("./home.css");

body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
html {
  min-height: 100%;
  position: relative;
}

