<header>
    <div class="global-header">
        <div class="logo-header">
            <img class="logo" src="/images/logo.svg" alt="logo">
        </div>
        <div class="links-header">
            <ul>
                <li><a href="#">Sobre mi</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </div>
    </div>
</header>