<header>
    <div class="global-header">
        <div class="logo-header">
            <img src="" alt="logo">
        </div>
        <div class="links-header">
            <ul>
                <li>Sobre mi</li>
                <li>Portafolio</li>
                <li>Contacto</li>
            </ul>
        </div>
    </div>
</header>