<!DOCTYPE html>
<html>
  <%- include('./partials/head', {title: 'Home'}) %>
  <body>
    <%- include('./header') %>

    <h2>Sobre Mi</h2>
    <h2>Proyectos</h2>
    <h2>Contacto</h2>
    
    

    <%- include('./partials/footer') %>
  </body>
</html>