<footer class="footer-general">
    <div class="div-cantainer-footer">
        <div class="section-container-footer">
            <ul>
                <h4>Links</h4>
                <li>Linkedin</li>
                <li>GitHub</li>
                <li>CV</li>
            </ul>
        </div>
        <div class="section-container-footer">
            <ul>
                <h4>Contacto</h4>
                <li>francou.facundo@gmail.com</li>
                <li>+54 9 3442467614</li>
                <li>Paraná - Entre Ríos - Argentina</li>
            </ul>
        </div>
        <div class="section-container-footer">
            <ul>
                <h4>Accesos</h4>
                <li>Home</li>
                <li>Sobre mi</li>
                <li>Portafolio</li>
                <li>Contacto</li>
            </ul>            
        </div>
    </div>
    <div class="copy-rigth-footer">
        <p>2022 - Facu Francou - Full Stack Web Developer</p>
    </div>
</footer>